body::after {
	content: "";
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.8s ease 0s;
	pointer-events: none;
	z-index: 149;
}
.popup-show body::after {
	opacity: 1;
}
.popup {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding: toRem(30) toRem(15);
	transition: visibility 0.8s ease 0s;
	visibility: hidden;
	pointer-events: none;
}
.popup_show {
	z-index: 150;
	visibility: visible;
	overflow: auto;
	pointer-events: auto;
	// -----------------------
}
.popup_show .popup__content {
	visibility: visible;
	transform: scale(1);
	opacity: 1;
	// transform: translateX(0);
}
.popup__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100%;
	flex: 1 1 auto;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.popup__content {
	// opacity: 0;
	visibility: hidden;
	transform: scale(0);
	transition: transform 0.3s ease 0s;
	background-color: #eee;
	padding: toRem(20);
	// width: 100%;
	max-width: toRem(900);
	border-radius: toRem(20);
	// -----------------------------------
	// transform: translateX(toRem(-35));
	// transition: all 0.4s;
	background-color: #0a1316;
	display: flex;
	align-items: flex-start;
	@include adaptiveValue("gap", 15, 10, 0, 1440, 467);
	.lock & {
		visibility: visible;
	}
	@media (max-width: toEm(550)) {
		flex-direction: column-reverse;
	}
}
.popup__close {
	@media (max-width: toEm(550)) {
		align-self: flex-end;
	}
}
//========================================================================================================================================================

.popup__reservation-image {
	flex: 1 0 toRem(220);
	border-radius: toRem(8);
	aspect-ratio: 1 / 1;
	position: relative;
	overflow: hidden;
	img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
		object-position: right;
	}
	@media (max-width: toEm(550)) {
		width: 100%;
	}
}
.popup__reservation-body,
.popup__readmore-body {
	align-self: center;
	line-height: 1.5;

	@media (min-width: toEm(550)) {
		padding-left: toRem(15);
	}
}
.popup__reservation-body-title,
.popup__readmore-body-title {
	text-align: center;
	font-weight: 500;
	@include adaptiveValue("font-size", 22, 16, 0, 1440, 467);
	&:not(:last-child) {
		@include adaptiveValue("margin-bottom", 20, 10, 0, 1440, 467);
	}
}
.popup__reservation-body-text {
	@include adaptiveValue("font-size", 18, 14, 0, 1440, 467);
	text-align: center;
	a {
		text-decoration-color: transparent;
		transition: all 0.4s;
		@media (any-hover: hover) {
			&:hover {
				color: $btnColor;
				text-decoration-color: initial;
				text-decoration: underline;
			}
		}
	}
}
.popup__readmore-body-text {
	@include adaptiveValue("font-size", 18, 14, 0, 1440, 467);
	color: $textColor;
}

//========================================================================================================================================================

.popup__readmore-image {
	flex: 1 0 toRem(220);
	border-radius: toRem(8);
	aspect-ratio: 1 / 1;
	position: relative;
	overflow: hidden;
	img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
	@media (max-width: toEm(550)) {
		width: 100%;
	}
}

//========================================================================================================================================================